<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Flower Image Classification App</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body class="d-flex align-items-center vh-100">
    <div class="container mt-3 bg-light p-5 rounded">
      <div class="row d-flex align-items-center">
        <div class="col p-1 border-end">
          {% block left_content %}{% endblock %}
        </div>
        <div class="col p-4 ml-1">
          {% block write_content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>

</html>
